<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">

<p>
    <b>
        I’m motivated by digging into data and eager to figure out what’s the cause of any problem.
        Learning a new technology and growing in my career is my passion.
    </b>
</p>
<h3><b>Main contact</b> </h3>
<h4><b>Email: </b>ranaksair2@gmail.com</h4>
<h4><b>Cell Phone: </b> 248-877-1180</h4>

