
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">


<body>
   
    <div class="wrapper">

        <div class="left">
            <img class="profile-picture" src="https://images.unsplash.com/photo-1487530811176-3780de880c2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" width="1100" height="400" / >
            <h2><b>Rana Ksair Tobia</b></h2>
        </div>



        <div class="right">
            <p class="bio">
                <h4> Passion, caring, dreaming like anything possible!!!!! </h4>
                <h4> My favorite quote is " life is like a camera, just focus on what's important and capture the good times, develop from the negatives and if things don't work out, just take another shot"</h4>
            </p>
           
        </div>

    </div>







</body>
