
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
<p><b>
    I'm a Database engineer who working in an agile environment.
    My main daily work is creating, design a database, Writing, reviewing procedure using T-Sql and SSMS.
    Also, Data Migration between systems and environments, tracing down and troubleshooting database production issue. Writing and maintain SSRS report and SSIS Package for the various business applications are other major duties in my current role.</b></p>







